XML/Relacion 2/ej8.dtd

<!ELEMENT listafacturas (factura+)>
<!ELEMENT factura (emisor,pagador,importe)>
    <!ATTLIST factura fecha CDATA #IMPLIED>
<!ELEMENT emisor (nombre,volumenventas?)>
    <!ATTLIST emisor CIF CDATA #REQUIRED>
<!ELEMENT pagador (nombre,volumenventas?)>
    <!ATTLIST pagador CIF CDATA #REQUIRED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT volumenventas (#PCDATA)>
<!ELEMENT importe (#PCDATA)>
